*{
    
    font-family: 'Oswald', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.header{
    width: 93%;
    display: flex;
    justify-content: space-between;
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.logo{
    width: 20%;
}
.logo a{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.menu{
    width:50%
}
.menu ul{
    display: flex;
}
.menu li{
    list-style: none;
    padding-left: 40px;
    padding-right:40px ;
}
.menu a{
    text-decoration: none;
    font-size: 1.1rem;
    color: #b6b6b6;
    z-index: 99;
}
.menu a:hover{
    color: #2B2E35;
}
.menu a:active{
    color: #2B2E35;
}
.register{
    display: flex;
    align-items: center;
}
.signUp{
    z-index: 99;
    cursor: pointer;
    margin-left:45px;
    width: 100px;
    height: 40px;
    background-color: #2B2E35;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}
.signUp a{
    text-decoration: none;
    color: white;
}
.signUp:hover{
    background-color: #41454e;
}
.signIn{
    z-index: 99;
    cursor: pointer;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
}
.signIn a{
    text-decoration: none;
    color: black;
}
.hamburgerMenu{
    width: 10%;
    display: none;
    align-items: center;
}
.hamburgerMenu i{
    font-size: 1.3rem;
}
/* ///////////////////////////////////////////////// */
.authHeader{
    width: 93%;
    display: flex;
    justify-content: space-between;
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 10px;
    position: absolute;
}
.notification{
    width: 5%;
    display: flex;
    align-items: center;
}
.fa-bell{
    font-size: 1.3rem;
    cursor: pointer;
}
.fa-user-circle{
    padding-left: 30px;
    font-size: 1.3rem;
    cursor: pointer;
}
/* /////////////////////////////////////////////////////// */
.hero{
    padding: 70px;
    width: 100%;
    display: flex;
    overflow: hidden;
}
.heroText{
    width: 40%;
}
.greeting h1{
    margin: 0;
    font-size: 5rem;
    font-weight: bold;
}
.greeting span{
    display: block;
    width: 60%;
    margin-top: 40px;
    font-size: 1.3rem;
    color: #b6b6b6;
    font-family: sans-serif;
}
.addNew{
    width: 90%;
    padding-top: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.addNew h3{
    word-spacing: 5px;
    font-size: 2rem;
    font-weight: 100;
}
.addNew button{
    margin-right: 40px;
    font-size: 1.1rem;
    width: 130px;
    height: 50px;
    background-color: royalblue;
    outline: none;
    border: 0;
    border-radius: 10px;
    color: white;
}
.heroImage{
    height: 80%;
    width: 50%;
}
.heroImage img{
    top:-20px;
    position: absolute;
    object-fit: cover;
}
/* ////////////////////////////////////////////////////// */
.registerFormContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #14395E , #567495);
    align-items: center;
}
.registerForm{
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
}
.registerHeader{
    display: none;
    position: absolute;
    left: 10%;
    width: 50%;
    height: 20%;
    z-index: 10;
}
.registerForm h1{
    font-size: 4rem;
    opacity: 80%;
    width: 60%;
    right: 30%;
    position: absolute;
    color: white;
}
.registerForm span{
    opacity: 70%;
    left: 20px;
    font-size: 1.2rem;
    position: absolute;
    bottom: 20px;
    color: white;
}
.registerImage{
    width: 50%;
    position: relative;
}
.registerImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.registerForm form{
    position: relative;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.registerForm label{
    width: 80%;
}
.registerForm input{
    width: 80%;
    height: 8%;
    border-radius: 8px;
    outline: none;
    border: solid black 1px;
    margin: 20px;
    background: none;
}
#registerSubmit{
    width: 40%;
    height: 50px;
    border: none;
    background-color: #2B2E35;
    color: white;
}
.registerForm i{
    color: black;
    font-size: 1.5rem;
    top: 20px;
    right: 30px;
    position: absolute;
    cursor: pointer;
}
.registerWelcome h1{
    position: absolute;
    top: -30px;
    color: black;
    font-size: 3rem;
}
/* ///////////////////////////////////////////////////////// */
.signInFormContainer{
    width: 100%;
    z-index: 100;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #14395E , #567495);
    align-items: center;
}
.signInForm{
    margin-top: 60px;
    z-index: 100;
    width: 70%;
    height: 70%;
    position: relative;
    display: flex;
}
.signInHeader{
    display: none;
    position: absolute;
    left: 10%;
    width: 50%;
    height: 20%;
    z-index: 10;
}
.signInForm h1{
    font-size: 4rem;
    opacity: 80%;
    width: 60%;
    right: 30%;
    position: absolute;
    color: white;
}
.signInForm span{
    opacity: 70%;
    left: 20px;
    font-size: 1.2rem;
    position: absolute;
    bottom: 20px;
    color: white;
}
.signInImage{
    width: 50%;
    position: relative;
}
.signInImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.signInForm form{
    position: relative;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.signInForm label{
    width: 80%;
}
.signInForm input{
    width: 80%;
    height: 8%;
    border-radius: 8px;
    outline: none;
    border: solid black 1px;
    margin: 20px;
    background: none;
}
#signInsubmit{
    width: 40%;
    height: 50px;
    border: none;
    background-color: #2B2E35;
    color: white;
}
.signInForm i{
    color: black;
    font-size: 1.5rem;
    top: 20px;
    right: 30px;
    position: absolute;
    cursor: pointer;
}
.signInWelcome h1{
    position: absolute;
    top: -30px;
    color: black;
    font-size: 3rem;
}
.accountCreated h2{
    font-size: 1.2rem;
    position: absolute;
    top: 70px;
    color: royalblue;
    left: 70px;
}

/* ////////////////////////////////////////////////////////////////// */
.overViewContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.sideProfile{
    width: 17%;
    height: inherit;
    border-right: solid rgb(241, 241, 241) 3px;
    display: flex;
    flex-direction: column;
}
.profile{
    padding-left: 70px;
    width: 78%;
    display: flex;
    margin-top: 150px;
    cursor: pointer;
    position: relative;
}
.profileFlex{
    flex-direction: column;
}
.profile img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.profileName{
    padding-top: 4px;
    width:70%;
    padding-left: 5px;
}
.profileName h4{
    font-weight: thin;
    margin: 0px;
}
.profileName span{
    padding-left: 2px;
    opacity: 80%;
    font-size: .8rem;
}
.editIcon{
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 99;
    display: none;
}
.editIcon:hover{
    color: royalblue;
}
.hideProfile{
    height: auto;
    display: none;
}
.hideProfile h4{
    color: #888888;
}
.showProfile{
    display: block;
}
.sideProfileMenu{
    padding-left: 70px;
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    height: 50%;
}
.menuOverView{
    margin-left: 3px;
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    margin-bottom: 40px;
}
.menuOverView img{
    padding-top: 4px;
    padding-right: 20px;
    width: 30px;
    height: 30px;
}

.menuToDo{
    margin-left: 3px;
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    margin-bottom: 40px;
}
.menuToDo img{
    padding-top: 4px;
    padding-right: 20px;
    width: 30px;
    height: 30px;
}
.menuHelp{
    margin-left: 3px;
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    margin-bottom: 40px;
}
.menuHelp img{
    padding-top: 4px;
    padding-right: 20px;
    width: 30px;
    height: 30px;
}
.activeMenu{
    border-right: solid royalblue;
}
.sideProfileMenu ul{
    width: 100%;
    list-style: none;
    height: inherit;
}
.sideProfileMenu a{
    width: 100%;
    height: 45px;
    font-size: 1.3rem;
    text-decoration: none;
    color: #888888;
    display: block;
    margin-bottom: 40px;
}
.sideProfileMenu li{
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
}
.sideProfileLogout{
    padding-top: 130px;
    padding-left: 70px;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
}
.sideProfileLogout i{
    font-size: 1.4rem;
    opacity: 50%;
    text-align: center;
}
.sideProfileLogout a{
    padding-left: 30px;
    color: royalblue;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.sideProfileLogout a:hover{
    color: blue;
}
.overView{
    padding-top: 10px;
    width: 80%;
    height: 100%;
    padding-left: 20px;
}
.overViewTaskTitle{
    width: 100%;
    display: flex;
    margin-top: 40px;
}
.toDoTitle,.inProgressTitle,.completeTitle{
    font-size: 1.2rem;
    font-weight: 600;
    color: #b6b6b6;
    cursor: pointer;
    margin-right: 60px;
}
.toDoTitle:hover,.inProgressTitle:hover,.completeTitle:hover{
    color: black;
}
.overViewTaskContainer{
    margin-top: 40px;
    height: 82vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    overflow: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: 0;
}
.overViewTaskContainer::-webkit-scrollbar{
    display: none;
}
.task{
    width: 350px;
    height: 200px;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
}
.task1{
    width: 350px;
    height: 300px;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
}
/* ///////////////////////////////////////////////////////////////////////// */
.addTaskContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;   
}
.addTask{
    padding-top: 10px;
    width: 80%;
    height: 100%;
    padding-left: 20px;
}
.addTaskTitle{
    padding-top: 10px;
    padding-left: 30px;
}
.addTask form{
    margin-top: 90px;
    width: 100%;
    height: 57vh;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 1px 10px 20px .1px  rgb(204, 217, 255);
    display: flex;
    position: relative;
}
.taskNameDes{
    width:50%;
    margin-left: 40px;
}
.taskDeadline{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 74px;
}
.addTask label{
    font-size: 1.3rem;
    display: block;
    width: 30%;
    padding-top: 20px;
    color: #7c9cd8;
    font-weight: bold;
}
.addTask input{
    margin-top: 10px;
    padding: 5px;
    font-size: 1.2rem;
    width: 80%;
    height: 50px;
    border-radius: 7px;
    border: solid #e8f0ff 3px;
    background-color: transparent;
}
.addTask textarea{
    margin-top: 20px;
    border: solid #e8f0ff 3px;
    padding: 5px;
    border-radius: 7px;
    width: 80%;
    height: 150px;
    resize: none;
}
.taskColors{
    height: 50%;
    display: flex;
    align-items: center;
}
.red,.green,.blue,.yellow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 50px;
    cursor: pointer;
}
.red:hover,.green:hover,.blue:hover,.yellow:hover{
    border: solid 1.2px;
}
.red{
    background-color: rgb(255, 95, 95);
}
.blue{
    background-color: rgb(111, 139, 233);
}
.yellow{
    background-color: rgb(252, 252, 119);
}
.green{
    background-color: rgb(108, 255, 108);
}
#taskSubmit{
    width: 15%;
    height: 13%;
    color: white;
    font-size: 1rem;
    background-color: royalblue;
    border-radius: 40px;
    position: absolute;
    bottom: -23px;
    cursor: pointer;
    right: 50%;
    font-weight: bold;
}
#taskSubmit:hover{
    background-color: rgb(47, 61, 190);
}
/* //////////////////////////////////////////////////////////////////////////// */
@media(max-width:1556px){
    .hero{
        padding-top: 0;
    }
    .heroText h1{
        font-size: 3rem;
    }
    .heroText span{
        font-size: 1.2rem;
    }
    .heroImage img{
        top: 100px;
        width: 50%;
    }
    .addNew{
        padding-top: 0;
        display: block;
        position: relative;
    }
}
@media(max-width:1200px){
    .heroText span{
        width: 100%;
        font-size: 1rem;
    }
    .heroText h1{
        font-size: 2.4rem;
    }
    .hero{
        margin-top: 100px;
    }
    .heroImage img{
        top: 200px;
    }
    .addNew h3{
        font-size: 2rem;
    }
    .addTaskTitle{
        padding-left: 50px;
    }
    .addTaskTitle h2{
        font-size: 2rem;
    }
}
@media(max-width:1080px){
    .header{
        padding: 40px;
    }
    .registerForm h1,.signInForm h1{
        font-size: 3.5rem;
    }
}
@media(max-width:900px){
    .logo a{
        font-size: 2.4rem;
    }
    .menu{
        width: 70%;
    }
    .menu a{
        font-size: 1rem;
    }
    .signIn{
        font-size: 1rem;
    }
    .signUp{
        font-size: 1rem;
    }
    .registerWelcome h1,.signInWelcome h1{
        display: none;
    }

}
@media(max-width:800px){
    .logo{
        width: 30%;
    }
    .menu{
        width: 90%;
        display: none;
    }
    .register{
        display: none;
    }
    .hamburgerMenu{
        display: flex;
    }
    .notification{
        display: none;
    }
    .heroImage{
        display: none;
    }
    .heroText{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .hero{
        margin-top: 0;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        padding: 30px;
    }
    .heroText span{
        width: 80%;
        color: black;
    }
    .container{
        position: relative;
    }
    .container::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: url(/Theseaship/ship/Sea-with-the-ship.png);
        opacity: 0.8;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    .addTaskSubContainer{
        width: 70%;
    }
}
@media(max-width:600px){
    .registerForm,.signInForm{
        display: block;
        margin-top: 0;
    }
    .registerImage,.signInImage{
        display: none;
    }
    .registerHeader,.signInHeader{
        display: block;
    }
    .registerForm form,.signInForm form{
        width: 100%;
        min-height: 100%;
    }
    .registerForm input,.signInForm input{
        height: 35px;
        margin: 15px;
    }
    #submit{
        height: 40px;
    }
    .registerWelcome h1,.signInWelcome h1{
        display: none;
    }
    .addTask textarea{
        height: 40px;
    }
}
@media(max-width:500px){
    .hamburgerMenu{
        width: 30%;
    }
    .logo{
        width: 30%;
    }
    .container::after{
        left: 0px;
    }
    .container{
        overflow: scroll;
        overflow-x: hidden;
    }
    body{
        overflow: scroll;
        overflow-x: hidden;
    }
    .hero{
        padding-left: 20px;
        padding-right: 20px;
    }
    .addTaskTitle{
        padding-left: 15px;
    }
    .addTaskTitle h2{
        font-size:1.3rem;
        margin-bottom: 0;
    }
    .addTaskTitle span{
        font-size: .9rem;
    }
    .addTask textarea{
        margin: 0;
    }
    .addTask input{
        margin: 4px;
        height: 35px;
    }
    #addTaskBtn{
        height: 40px;
        margin-bottom: 10px;
    }
}